{% if not PS_list.stdout_lines %}
prefix-set PS-CL-ALLOW
end-set
{% else %}
prefix-set PS-CL-ALLOW
{% for line in PS_list.stdout_lines %}
{{ line }}{% if not loop.last %},
{% endif %}
{% endfor %}

end-set
{% endif %}
